.chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 350px; /* Fixed maximum height */
  width: 100%;
  max-width: 250px; /* Fixed maximum width */
  background: #f8f9fa;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.chatbot-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.chatbot-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  font-size: 14px; /* Smaller font size */
  padding-right: 10px; /* Allow space for scrollbar */
}

.chatbot-message {
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 80%;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.chatbot-message.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
  text-align: left;
  border-bottom-right-radius: 0; /* iMessage style */
}

.chatbot-message.model {
  background-color: #e9ecef;
  color: #333;
  align-self: flex-start;
  text-align: left;
  border-bottom-left-radius: 0; /* iMessage style */
}

.chatbot-message.model.loading {
  background-color: #e0e0e0;
  color: #888;
  font-style: italic;
  align-self: flex-start;
  border-bottom-left-radius: 0; /* iMessage style */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-flashing {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #888;
  margin: 0 2px;
  animation: dot-flashing 1s infinite alternate;
}

@keyframes dot-flashing {
  0% {
    opacity: 0.3;
  }
  50%,
  100% {
    opacity: 1;
  }
}

.chatbot-input-container {
  display: flex;
  align-items: center;
}

.chatbot-input {
  flex: 1;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.chatbot-send-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  transition: background-color 0.2s, transform 0.2s;
  font-size: 14px;
}

.chatbot-send-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}