.stock-graph-container {
  width: 100%; /* Adjust width as needed */
  max-width: 600px; /* Set a maximum width if necessary */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #1c1c1c, #262626);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.stock-graph-container:hover {
  transform: translateY(-8px); /* Adjust the amount of transformation */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.single-stock-graph-graph-wrapper {
  width: 100%; /* Ensures the graph takes up the entire width of its parent */
  height: 380px; /* Adjust height as needed */
}


